p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin:0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(249, 249, 249);
    font-family: Roboto, sans-serif;
}

.notification-container  {
    position:relative;
}

.notification-count {
    position:absolute;
    color: white;
    background-color: rgb(207, 8, 8);
    top: -2px;
    right: -5px;
    font-size: 11px;
    font-family: Roboto;
    border-radius: 10px;
    padding-left: 5px; /* padding is space inside the element */
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}